[data-component="Layout_WithoutSpacing"] {
    width: 100%;
    background-color: $background-color-light;
    color: $foreground-color-light;
    float: left;

    & > * {
        width: 100%;
        float: left;
    }
}

.is-dark-mode-on {
    [data-component="Layout_WithoutSpacing"] {
        background-color: $background-color-dark;
        color: $foreground-color-dark;
    }
}
