[data-component="SidePanel"] {
    width: 25vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
