[data-component="Page_PlaceDetail"] {
    [data-component="Map"] {
        width: 100%;
        height: 26vh;
        margin-bottom: 20px;
    }

    .content {
        @media (max-width: 799px) {
            width: 100%;
        }
        @media (min-width: 800px) {
            width: 70%;
            margin: 0 auto;
        }

        .subheadline {
            font-size: 14px;
            font-weight: 500;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        .info,
        .details {
            padding: 0 20px;
            float: left;
        }

        .info {
            @media (max-width: 799px) {
                width: 100%;
            }
            @media (min-width: 7800px) {
                width: 70%;
            }

            .name {
                font-size: 30px;
                font-weight: 500;
                padding-top: 20px;
            }

            .description {
                line-height: 150%;
            }
        }

        .details {
            @media (max-width: 799px) {
                width: 100%;
            }
            @media (min-width: 7800px) {
                width: 30%;
            }

            .item {
                line-height: 150%;

                .label {
                    font-weight: 500;
                }
            }

            .star-ratings {
                width: 100%;
            }
        }
    }
}
