[data-component="Page_PlaceDetail"] {
    &.is-map-expanded {
        [data-component="Navigation"] {
            opacity: 0;
        }
    }

    .map-container {
        width: 100%;
        height: calc(30vh + env(safe-area-inset-top));
        text-align: center;
        position: relative;
        z-index: 9;
        transition: height 500ms;

        .toggle-map-button {
            position: absolute;
            right: 10px;
            bottom: -3vh;
            transition: bottom 500ms;
        }

        &.is-expanded {
            height: 100vh;
            padding-bottom: 0;

            .toggle-map-button {
                bottom: 3vh;
            }
        }
    }

    .content {
        padding: 20px 20px 50px 20px;

        @media (max-width: 799px) {
            width: 100%;
            float: left;
        }
        @media (min-width: 800px) {
            width: 70%;
            margin: 0 auto;
        }

        .headline {
            font-size: 14px;
            font-weight: 500;
            padding-top: 30px;
            padding-bottom: 10px;
        }

        .name {
            font-size: 30px;
            font-weight: 300;
            padding-top: 20px;
        }

        .description {
            font-size: 14px;
            font-weight: 300;
            line-height: 160%;
            opacity: 0.5;
        }

        .description-source {
            font-size: 10px;
            margin-top: 10px;
            opacity: 0.5;

            .url {
                color: $foreground-color-light;
                text-decoration: none;
            }
        }

        .item {
            line-height: 150%;

            .label {
                font-weight: 500;
            }
        }

        .rating-container {
            .note {
                padding-top: 10px;
                opacity: 0.5;
            }
        }
    }
}

.is-dark-mode-on {
    [data-component="Page_PlaceDetail"] {
        .content {
            .description-source {
                .url {
                    color: $foreground-color-dark;
                }
            }
        }
    }
}
