[data-component="PlacesList"] {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    float: left;
    transition: opacity, margin 250ms;

    @media (min-width: $deviceBreakpoint) {
        height: 100vh;
        overflow: auto;
    }

    .message {
        width: 100%;
        text-align: center;
        float: left;

        &.error {
            color: red;
        }
    }
}
