[data-component="PlacesList"] {
    width: 100%;
    padding: 12px;
    margin-top: 30px;
    float: left;
    transition: opacity 250ms;

    & > .item {
        width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
        padding: 10px;
        margin-bottom: 20px;
        float: left;

        .name {
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 10px;
            float: left;

            .distance {
                color: gray;
                font-weight: normal;
                position: relative;
                top: -1px;
            }
        }

        .image {
            width: 100%;
            height: 60vw;
            object-fit: cover;
        }

        .description {
            $font-size: 12px;
            $line-height: 1.5;
            $lines-to-show: 2;

            height: calc(#{$font-size} * #{$line-height} * #{$lines-to-show});
            color: gray;
            font-size: $font-size;
            text-overflow: ellipsis;
            line-height: $line-height;
            -webkit-line-clamp: $lines-to-show;
            -webkit-box-orient: vertical;
            margin: 0 auto;
            display: block;
            display: -webkit-box;
            overflow: hidden;
        }

        .details {
            width: 100%;
            float: left;

            .item {
                width: 100%;
                float: left;
                line-height: 150%;

                .label {
                    font-weight: 500;
                }
            }
        }
    }

    .message {
        width: 100%;
        text-align: center;
        float: left;

        &.error {
            color: red;
        }
    }
}
