[data-component="Rating"] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &:not(.is-visited) > * {
        pointer-events: none;
    }

    .star-ratings {
        width: 170px;
    }

    .count {
        opacity: 0.5;
    }
}
