[data-component="Filter"] {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px !important;
    flex-direction: row !important;
    justify-content: space-between;
    flex-wrap: wrap;

    .item {
        flex-basis: 31%;

        & > * {
            width: 100%;
        }

        label {
            color: gray;
            font-size: 10px;
        }
    }
}
