[data-component="Filter"] {
    width: 100%;
    padding: 0 !important;

    .animated-container {
        width: 100%;
        padding: 10px 12px 0 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
            flex-basis: calc(100% / 3);
            padding: 3px;

            &.colspan-2 {
                flex-basis: calc(100% / 3 * 2);
            }

            & > * {
                width: 100%;
            }

            label {
                color: gray;
                font-size: 10px;
                padding-left: 3px;
            }

            input,
            select {
                height: 34px;
                font-size: 12px !important;
            }
        }

        .results-count {
            font-size: 14px;
        }
    }
}
