[data-component="ImagesGrid"] {
    width: 100%;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    float: left;

    .image {
        width: calc(100vw - 24px);
        height: calc(62.5vw - 24px);
        float: left;
        object-fit: cover;
    }
}
