$background-color: #fff;
$blue-lighter: #5258ff;
$blue-darker: #0d15fd;
$green-lighter: #0fd99f;
$green-darker: #30e292;
$yellow-lighter: #fcc568;
$yellow-darker: #ffb12a;
$gray-lighter: #eff5ff;
$gray-darker: #f9fbff;
