$background-color: #fff;
$blue-lighter: #6889fe;
$blue-darker: #456efd;
$green-lighter: #5adbb8;
$green-darker: #1cce9d;
$orange-lighter: #fdbc49;
$orange-darker: #fdaf2a;
$red-lighter: #ff8572;
$red-darker: #ff6951;
$gray-lighter: #eff5ff;
$gray-darker: #f9fbff;
