@import "css-reset-and-normalize-sass/scss/flavored-reset-and-normalize";

html {
    font-size: 16px;

    @media (max-width: 600px) {
        font-size: 12px;
    }
}

body {
    width: 100vw;
    height: 100vh;
    background-color: $background-color-light;
    color: $foreground-color-light;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Montserrat", sans-serif;

    label,
    input,
    textarea,
    select,
    button {
        &:hover,
        &:focus,
        &:active {
            border: none;
            outline: none;
        }
    }

    input,
    textarea,
    select {
        &:-webkit-autofill {
            box-shadow: 0 0 0 1000px white inset;

            &:hover,
            &:focus {
                box-shadow: 0 0 0 1000px white inset;
            }
        }
    }

    input:not([type="checkbox"]),
    textarea,
    select {
        appearance: none;
    }

    textarea {
        height: 100px;
        resize: none;
    }

    select {
        appearance: none;
    }

    .form {
        max-width: 600px;
        padding: 20px;
        display: flex;
        flex-direction: column;

        input,
        select,
        textarea {
            background-color: white;
            font-size: 1rem;
            border: none;
            border-radius: 5px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
            padding: 10px 15px;
            margin: 5px 0 12px 0;
        }

        [data-component="Button"] {
            margin: 12px 0;
        }
    }

    &.is-dark-mode-on {
        background-color: $background-color-dark;
        color: $foreground-color-dark;

        input,
        select,
        textarea {
            background-color: black !important;
            color: white !important;
        }
    }
}
