[data-component="Button"] {
    min-width: 220px;
    background-color: $gray-darker;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    transition: 250ms background-color;

    &:hover {
        background-color: $gray-lighter;
    }

    &.blue {
        background-color: $blue-darker;
        color: white;

        &:hover {
            background-color: $blue-lighter;
        }
    }

    &.green {
        background-color: $green-darker;
        color: white;

        &:hover {
            background-color: $green-lighter;
        }
    }

    &.orange {
        background-color: $orange-darker;
        color: white;

        &:hover {
            background-color: $orange-lighter;
        }
    }

    & + & {
        @media (max-width: 600px) {
            margin-top: 15px;
        }

        @media (min-width: 601px) {
            margin-left: 15px;
        }
    }

    &.is-disabled {
        opacity: 0.6;
        cursor: default;
    }
}

[data-component="ButtonWithIcon"] {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon-container {
        width: 55px;
        height: 55px;
        color: black;
        font-size: 1.5rem;
        border-radius: 50%;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms background-color;
        position: relative;
        z-index: auto;

        &:hover {
            background-color: $gray-lighter;
        }

        &.white-transparent {
            background-color: rgba(255, 255, 255, 0.5);
            color: black;
            backdrop-filter: blur(10px) saturate(200%);

            &:hover {
                background-color: rgba(255, 255, 255, 0.6);
            }
        }

        &.blue {
            background-color: $blue-darker;
            color: white;

            &:hover {
                background-color: $blue-lighter;
            }
        }

        &.green {
            background-color: $green-darker;
            color: white;

            &:hover {
                background-color: $green-lighter;
            }
        }

        &.orange {
            background-color: $orange-darker;
            color: white;

            &:hover {
                background-color: $orange-lighter;
            }
        }

        &.red {
            background-color: red;
            color: white;

            &:hover {
                background-color: red;
            }
        }

        .icon {
            width: 35%;
        }
    }

    .label {
        width: 18vw;
        font-size: 0.9rem;
        padding-top: 10px;
    }

    &.is-disabled {
        opacity: 0.6;
        cursor: default;
    }
}
