[data-component="Button"] {
    min-width: 220px;
    background-color: $gray-darker;
    font-size: 1rem;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    padding: 15px 20px;
    transition: 250ms background-color;

    &.blue {
        background-color: $blue-darker;
        background-image: linear-gradient(45deg, $blue-darker, $blue-lighter);
        color: white;
    }

    &.green {
        background-color: $green-darker;
        background-image: linear-gradient(45deg, $green-darker, $green-lighter);
        color: white;

        &:active {
            background-color: $green-lighter;
        }
    }

    &.orange {
        background-color: $orange-darker;
        background-image: linear-gradient(45deg, $orange-darker, $orange-lighter);
        color: white;
    }

    & + & {
        @media (max-width: 600px) {
            margin-top: 15px;
        }

        @media (min-width: 601px) {
            margin-left: 15px;
        }
    }

    &.is-disabled {
        opacity: 0.6;
        cursor: default;
    }
}

[data-component="ButtonWithIcon"] {
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .icon-container {
        width: 55px;
        height: 55px;
        color: black;
        font-size: 1.5rem;
        border-radius: 50%;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 250ms background-color;
        position: relative;
        z-index: auto;

        &:active {
            background-color: $gray-lighter;
        }

        &.white-transparent {
            background-color: rgba(255, 255, 255, 0.5);
            color: black;
            backdrop-filter: blur(10px) saturate(200%);

            &:active {
                background-color: rgba(255, 255, 255, 0.6);
            }
        }

        &.blue {
            background-color: $blue-darker;
            background-image: linear-gradient(45deg, $blue-darker, $blue-lighter);
            color: white;
        }

        &.green {
            background-color: $green-darker;
            background-image: linear-gradient(45deg, $green-darker, $green-lighter);
            color: white;
        }

        &.orange {
            background-color: $orange-darker;
            background-image: linear-gradient(45deg, $orange-darker, $orange-lighter);
            color: white;
        }

        &.red {
            background-color: red;
            color: white;
        }

        .icon {
            width: 35%;
        }
    }

    .label {
        width: 18vw;
        font-size: 0.9rem;
        font-weight: 500;
        padding-top: 10px;
    }

    &.is-disabled {
        opacity: 0.6;
        cursor: default;
    }
}

.is-dark-mode-on {
    [data-component="PlacesList"] {
        & > .item {
            background-color: black;
        }
    }
}
