[data-component="Page_Home"] {
    &.is-scrolling-disabled {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .my-location-map {
        width: 100%;
        height: calc(30vh + env(safe-area-inset-top));
        text-align: center;
        position: relative;
        z-index: 9;
        transition: height 250ms;

        &.is-expanded {
            height: 100vh;
            padding-bottom: 0;

            .toggle-button {
                bottom: 7vh;
            }
        }

        .toggle-button {
            position: relative;
            bottom: 3vh;
        }
    }

    .places-list {
        padding: 12px;
        margin-top: 30px;
        float: left;
        transition: opacity 250ms;

        &.is-faded {
            filter: blur(3px);
        }

        .place {
            margin-bottom: 20px;

            .name {
                font-size: 16px;
                padding-bottom: 10px;
            }

            .details {
                display: flex;

                .image {
                    width: 152px;
                    height: 95px;
                    background-color: gray;
                    margin-right: 12px;
                    object-fit: cover;
                }

                .description {
                    $font-size: 12px;
                    $line-height: 1.5;
                    $lines-to-show: 6;

                    height: calc(#{$font-size} * #{$line-height} * #{$lines-to-show});
                    color: gray;
                    font-size: $font-size;
                    text-overflow: ellipsis;
                    line-height: $line-height;
                    -webkit-line-clamp: $lines-to-show;
                    -webkit-box-orient: vertical;
                    margin: 0 auto;
                    display: block;
                    display: -webkit-box;
                    overflow: hidden;
                }
            }
        }
    }
}
