[data-component="Page_Home"] {
    .settings-button {
        background-color: transparent;
        border: none;
        padding: 1vh;
        position: absolute;
        top: 5vh;
        left: 2vh;
        z-index: 99;
        transition: opacity 250ms;

        .icon {
            width: 30px;
            height: 30px;
        }
    }

    &.is-map-expanded {
        .settings-button {
            opacity: 0;
        }

        [data-component="PlacesList"],
        [data-component="Navigation"] {
            opacity: 0;
        }
    }

    .my-location-map {
        width: 100%;
        height: calc(30vh + env(safe-area-inset-top));
        text-align: center;
        position: relative;
        z-index: 9;
        transition: height 500ms;

        .toggle-button {
            position: absolute;
            right: 2vh;
            bottom: -3vh;
            transition: bottom 500ms;
        }

        &.is-expanded {
            height: 100vh;
            padding-bottom: 0;

            .toggle-button {
                bottom: 3vh;
            }
        }
    }
}
