[data-component="Page_Home"] {
    .settings-button {
        width: 14vw;
        height: 14vw;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px) saturate(200%);
        border: none;
        border-radius: 50%;
        padding: 1vh;
        position: absolute;
        top: 5vh;
        left: 2vh;
        z-index: 99;
        transition: opacity 250ms;

        .icon {
            width: 30px;
            height: 30px;
        }
    }

    &.is-filter-expanded {
        .toggle-filter-button,
        .toggle-map-button {
            bottom: 0.5vh !important;
            transition: bottom 250ms;
        }

        .filter-container {
            display: block;
        }
    }

    &.is-map-expanded {
        z-index: 999;

        .settings-button,
        .toggle-filter-button {
            opacity: 0;
        }

        [data-component="PlacesList"],
        [data-component="Navigation"] {
            opacity: 0;
        }
    }

    .filter-container {
        width: 100%;
        float: left;
        display: none;
    }

    .map-container {
        width: 100%;
        height: calc(30vh + env(safe-area-inset-top));
        text-align: center;
        position: relative;
        z-index: 9;
        transition: height 500ms;

        .toggle-filter-button {
            position: absolute;
            left: 2vh;
            bottom: -3vh;
            transition: bottom 500ms;
        }

        .toggle-map-button {
            position: absolute;
            right: 2vh;
            bottom: -3vh;
            transition: bottom 500ms;
        }

        &.is-expanded {
            height: 100vh;
            padding-bottom: 0;

            .toggle-map-button {
                bottom: 3vh;
            }
        }
    }
}
