[data-component="SelectedPlaceInfoBox"] {
    width: calc(100% - 6vh);
    height: 50px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px) saturate(500%);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 3vh;
    bottom: 12vh;

    .name {
        flex-basis: calc(100% - 60px);
        padding: 0 20px;
        border: none;
    }

    .close-button {
        flex-basis: 60px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
    }
}
