[data-component="Navigation"] {
    width: 100%;
    height: calc(110px - env(safe-area-inset-bottom));
    float: left;
    transition: opacity 250ms;

    .items {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px) saturate(200%);
        display: flex;
        justify-content: space-between;
        padding: 20px 10px 30px 10px;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1;

        &.items-count-1 {
            &.alignment-left {
                justify-content: flex-start;
            }

            &.alignment-right {
                justify-content: flex-end;
            }
        }

        &.items-count-1,
        &.items-count-2 {
            background-color: transparent;
            backdrop-filter: none;
            padding-bottom: 15px;

            .item {
                border-radius: 20px;
                padding-top: 10px;
                padding-bottom: 5px;
            }
        }
    }
}

.is-dark-mode-on {
    .items {
        background-color: rgba(0, 0, 0, 0.5);
    }
}
