[data-component="Authentication"] {
    text-align: center;
    padding: env(safe-area-inset-top) 12px 12px 12px;

    .email-address {
        margin-bottom: 20px;
    }

    [data-component="Button"] {
        width: 100%;
        float: left;
        margin: 0 0 20px 0;
    }
}
